ul {
    margin: 0;
    padding: 0;
}

.box {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: url(../img/2233.jpg);
    background-size: cover;
}

.box2 {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: url(../images/2233.jpg);
    background-size: cover;
}

.fff {
    color: #fff;
}